<div class="container py-4">
  <div class="row row-cols-1 g-4">
    <% @recommendations.each do |recommendation| %>
      <div class="col">
        <div class="card shadow-sm border rounded-3 position-relative" style="height: 250px; overflow: hidden;">
          
          <div class="position-absolute top-0 start-0 w-100 bg-light px-2 py-1" style="border-bottom: 1px solid #ccc;">
            <h4 class="mb-0"><%= recommendation.book&.title %></h4>
          </div>

          <div class="d-flex justify-content-center align-items-center h-100">
            <% if recommendation.book.book_image.present? %>
              <%= image_tag(recommendation.book.book_image, 
                alt: "Book Cover", 
                class: "rounded-circle", 
                style: "width: 120px; height: 120px; object-fit: cover;") %>
            <% else %>
              <h1 class="display-4" style="opacity: 0.2;"><%= recommendation.book.title.first %></h1>
            <% end %>
          </div>

          <div class="position-absolute top-0 end-0 p-2 btn btn-light">
              <i class="fa fa-heart text-danger"></i>
          </div>

          <div class="position-absolute bottom-0 start-0 w-100 bg-light px-2 py-1" style="border-top: 1px solid #ccc;">
            <small class="text-muted">recommended by</small>
            <strong><%= recommendation.user.first_name %></strong>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
